<footer class="footer">
  <div class="footer__buttom">
    <a href="#top" title="got to the top">
      <img
        class="icon__arrow"
        src="./assets/images/ico-arrow.svg"
        alt="go up"
      />
    </a>
  </div>
  <div class="footer__container">
    <div class="copyright">
      <small class="copyright__year"> &copy; 2017 </small>
      <span class="claim"
        >we <i class="fa fa-heart" title="heart"></i> components</span
      >
    </div>
    <nav class="footer__menu">
      <ul>
        <li>
          <a href="https://www.adalab.es" title="ir a Articles">articles</a>
        </li>
        <li>
          <a href="https://www.adalab.es" title="ir a books">books</a>
        </li>
        <li>
          <a href="https://www.adalab.es" title="ir a events">events</a>
        </li>
        <li>
          <a href="https://www.adalab.es" title="ir a reasons">reasons</a>
        </li>
        <li>
          <a href="https://www.adalab.es" title="ir a tips">tips</a>
        </li>
      </ul>
    </nav>
    <nav class="footer__social-media">
      <ul>
        <li>
          <a href="https://www.adalab.es" title="ir a Twitter">twitter</a>
        </li>
        <li>
          <a href="https://www.adalab.es" title="ir a Instagram">instagram</a>
        </li>
        <li>
          <a href="https://www.adalab.es" title="ir a Mastodon.social"
            >mastodon.social</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
