<footer class="footer">
  <div class="footer__buttom">
    <img src="./assets/images/ico-arrow.svg" alt="go up" />
  </div>
  <small>
    &copy; 2017
  </small>
  <span>we components</span>
  <nav>
    <ul>
      <li>
        <a href="#" title="ir a Articles">articles</a>
      </li>
      <li>
        <a href="#" title="ir a books">books</a>
      </li>
      <li>
        <a href="#" title="ir a events">events</a>
      </li>
      <li>
        <a href="#" title="ir a reasons">reasons</a>
      </li>
      <li>
        <a href="#" title="ir a tips">tips</a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <a href="#" title="ir a Twitter">twitter</a>
      </li>
      <li>
        <a href="#" title="ir a Instagram">instagram</a>
      </li>
      <li>
        <a href="#" title="ir a Mastodon.social">mastodon.social</a>
      </li>
    </ul>
  </nav>
</footer>
