<section class="section2" id="section2">
  <h2 class="section2__name">3 reasons to purchase</h2>
  <article class="article article1">
    <h3 class="article__title">ut sed metus</h3>
    <p class="article__info">Lorem ipsum dolor sit amet, consecteur.</p>
  </article>
  <article class="article article2">
    <h3 class="article__title">urabitur ac erat</h3>
    <p class="article__info">mauris mattis urna quis lorem molestie.</p>
  </article>
  <article class="article article3">
    <h3 class="article__title">morbi dictum</h3>
    <p class="article__info">aliquam in dolor et dolor tincidunt.</p>
  </article>
  <div class="section2__button">
    <a href="#" alt="see more reasons" title="More reasons">More reasons</a>
  </div>
</section>
