.footer {
  background-color: $color-primary;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $font-primary;
    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      text-align: left;
      align-items: flex-start;
    }
    @media all and (min-width: 1200px) {
      margin: 0 350px;
    }
  }
  .copyright {
    margin-bottom: 45px;
    color: $color-light;
    order: 1;
    @media all and (min-width: 768px) {
      order: 0;
    }
    &__year,
    .claim {
      display: block;
      font-size: 14px;
      line-height: 30px;
    }
  }

  &__buttom {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(0, -50%);
    margin: auto;
    .icon__arrow {
      &:hover {
        animation-name: rotate;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
      }
    }
  }

  &__menu {
    margin-bottom: 30px;
    a {
      text-transform: uppercase;
      color: $color-light;
      line-height: 30px;
    }
  }
  &__social-media {
    margin-bottom: 30px;
    a {
      text-transform: uppercase;
      color: $color-light;
      line-height: 30px;
    }
  }
}

.fa-heart {
  color: $color-tertiary;
  font-size: 10px;
}

/*ANIMATION*/

@keyframes rotate {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
